h1 {
  font-family: Amatica SC;
  color: blue;
  text-align: center;
  font-size: 64px;
}

h2 {
  font-style: italic;
  text-align: center;
  color: teal;
}

p {
  color: gray;
}

body {
  background-color: skyblue;
}
